@charset "utf-8";
/* CSS Document */
.container{
	margin:auto;
}

#navbar{
  text-transform:uppercase;
}

#navbar li{
  display:inline;
  padding-right:20px;
  list-style:none;
}

.topmenu li
{
	display:inline;
	padding-right:20px;
	list-style:none;
}

#navbar {
  padding: 15px;}

#navbar {background-color: white;
text-align: center;}

ul li{
  display: inline-block;
  list-style-type: none;
  padding:20px 30px;
}



nav a{
  color: black;
  text-decoration: none;
}

ul li #oplevelser:hover{
  background: #009899;
}

ul li #shopping:hover{ background:#99C941;

  }

ul li #spis:hover {background: #EDCD27;
}


ul li #omos:hover {background: #FD3301;
}

ul li #kontakt:hover {background: #F8B5D1;
}
