@charset "utf-8";
/* CSS Document */
body{
	font-family:'Montserrat', sans-serif;
}
*
{
	margin:0px;
	padding:0px;
	box-sizing:border-box;
}

nav
{
	display:flex;
	justify-content:space-between;
	align-items:center;
	min-height:8vh;
	background-color:#F3F3F3F3;
	font-family:'Montserrat', sans-serif;
	text-transform:uppercase;
}

.nav-links
{
  	display:flex;
	justify-content:space-around;
}

.nav-links li
{
	list-style:none;
	display:inline;
}

.nav-links a
{
	color: black;
	text-decoration:none;
	letter-spacing:3px;
}

.logo img
{
	max-width:90%;
	height:auto;
	margin-left:6.6vh;
}

.burger
{
	display:none;
	cursor:pointer;
}

.burger div:hover
{
	cursor:pointer;
	background-color:#3F3F3F;
}

.burger div
{
	width:25px;
	height:2px;
	background-color:black;
	margin:5px;
	transition:all 0.3s ease;
}

/*STØRRELSEN PÅ DE FORSKELLIGE MENU KNAPPER */

nav ul li #oplevelser
{
	display:inline-block;
	list-style-type:none;
	padding:6.6vh 3.9vh;
	text-decoration:none;
	color:black;
}

nav ul li #shopping
{
	display:inline-block;
	list-style-type:none;
	padding:6.6vh 6.18vh;
	text-decoration:none;
	color:black;
}

nav ul li #spis
{
	display:inline-block;
	list-style-type:none;
	padding: 6.6vh 3.69vh;
	text-decoration:none;
	color:black;
}

nav ul li #omos
{
	display:inline-block;
	list-style-type:none;
	padding:6.6vh 5.99vh;
	text-decoration:none;
	color:black;
}

nav ul li #kontakt
{
	display: inline-block;
	list-style-type: none;
	padding:6.6vh 6.18vh;
	text-decoration:none;
	color:black;
}


/* DE FORSKELLIGE HOVER FARVER*/
 nav ul li #oplevelser:hover
{
	background-color:#009899;
	font-weight:bold;
	color:white;
}

nav ul li #shopping:hover
{
	background-color:#99C941;
	font-weight:bold;
	color:white;
}

nav ul li #spis:hover
{
	background-color: #EDCD27;
	font-weight:bold;
	color:white;
}

nav ul li #omos:hover
{
	background-color:#FD3301;
	font-weight:bold;
	color:white;
}

nav ul li #kontakt:hover
{
	background-color:#F8B5D1;
	font-weight:bold;
	color:white;
}

@media screen and (max-width:1080px)
{
	.nav-links
	{
		width:60%;
	}
}

@media screen and (max-width:768px)
{
ul.nav-links.nav-active
	{
		max-height: 200.6vh;
    	max-width: 33%;
    	overflow: visible;
    	padding-top:5%;
		padding-bottom:5%;
		position:absolute;
	}

	body
	{
		overflow-x:hidden;
	}

	.logo img
	{
		max-width:75%;
		height:auto;
		margin-left:6.6vh;


	}

	.nav-links
	{
		position:absolute;
		right:0px;
		max-height:82vh;
		top:8vh;
		background-color:#F3F3F3F3;
		display:flex;
		flex-direction:column;
		align-items:center;
		width:37%;
		transform:translateX(100%);
		transition:transform 0.5s ease-in;
	}
	.nav-links li
	{
		opacity:0;
	}

	.burger
	{
		display:block;
		margin-right:6.6vh;
	}
}

.nav-active
{
	transform:translateX(0%);

}


@keyframes navLinkFade
{
	from
	{
		opacity:0;
		transform:translateX(50px);
	}

	to
	{
		opacity:1;
		transform:translateX(0px);
	}
}

.toggle .line1
{
	transform:rotate(-45deg) translate(-4px,6px);
}

.toggle .line2
{
	opacity:0;
}

.toggle .line3
{
	transform:rotate(45deg) translate(-4px,-6px);
}




/* Center website */
section {
	max-width: 1000px;
  margin: auto;
}

h1 {
  font-size: 50px;
  word-break: break-all;
}

.row {
  margin: 8px -160px;
}

/* mellemrum mellem hver kollonne */
.row,
.row > .column {
  padding: 8px;
}

/* De 3 columner ved siden af hindanden */
.column {
  float: left;
  width: 25%;

}

/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}

/* Responsive layout -laver en to coulmn istedet for 3 */
@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}

/* Responsive layout - gør at de to columns går op på hinanden istedet ved siden af hinanden */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }

	html {
	  height: 100%;
	  box-sizing: border-box;

	}

footer{
	background-color: red;
	position: absolute;
	height: 100px;
	margin-top: -100px;

	display: block;
}
