@charset "utf-8";
/* CSS Document */
body{
	font-family:'Montserrat', sans-serif;
}

*
{
	margin:0px;
	padding:0px;
	box-sizing:border-box;
	max-width: 1920px;
}

.menuTitel h2
{
	font-size:16px;
	padding:1% 5%;
	text-align: center;
}
.menuBeskrivelse h3
{
	font-size:9px;
}

.snippetcontent h1
{
	font-family:'Montserrat', sans-serif;
	text-transform: uppercase;
	padding-bottom: 5%;
	font-size:20px;
}

.snippetcontent
{
	width: 60%;
	margin:1% 20%;
	text-align:center;
	align-content:space-around;
}

.logo
{
	margin:0px 50px 0px 100px;
}

.logo img
{
	max-width:100%;
	height:auto;
}

.burger
{
	display:none;
	cursor:pointer;
}

.burger div:hover
{
	cursor:pointer;
	background-color:#3F3F3F;
}

.burger div
{
	width:25px;
	height:2px;
	background-color:black;
	margin:5px;
	transition:all 0.3s ease;
}

.menuTitel {
    display:contents;
	overflow: hidden;
    font-weight: Bold;
    text-transform: uppercase;
	text-align: center;
	padding-top:5%;
}

.menuBeskrivelse {
    overflow: hidden;
    display: flex;
    height: 40px;
    padding-top: 5px;
    font-size: 0.6rem;
	align-content: space-between;
	text-align: center;
}

.nav-links a:hover
{
	font-weight:normal;
}

/* DE FORSKELLIGE HOVER FARVER*/
 nav li #oplevelser:hover
{
	background-color:#009899;
	font-weight:bold;
	color:white;
}

nav ul li #shopping:hover
{
	background-color:#99C941;
	font-weight:bold;
	color:white;
}

nav ul li #spis:hover
{
	background-color: #EDCD27;
	font-weight:bold;
	color:white;
}

nav ul li #omos:hover
{
	background-color:#FD3301;
	font-weight:bold;
	color:white;
}

nav ul li #kontakt:hover
{
	background-color:#F8B5D1;
	font-weight:bold;
	color:white;
}

.snippet h2
{
	padding:2%;
}
.snippet p
{
	font-family:'Montserrat', sans-serif;
	padding:5%;
	background-color:white;
	line-height:2vh;
}

footer h2
{
	font-size:16px;
	font-style: normal;
}

@media screen and (max-width:1921px)
{
	*
	{
	margin:0px;
	padding:0px;
	box-sizing:border-box;
	max-width: 1920px;
	overflow-x: hidden;
	}
	
	nav
	{
	display:flex;
	justify-content:space-between;
	align-items:center;
	min-height:8vh;
	background-color:#F3F3F3F3;
	font-family:'Montserrat', sans-serif;
	text-transform:uppercase;
	}

	.nav-links
	{
  	display:flex;
	justify-content:space-around;
	margin-right:100px;
	width:60%;
	}

	.nav-links li
	{
	list-style:none;
	display:inline;
	margin-right:50px;
	}

	.nav-links a
	{
	color: black;
	text-decoration:none;
	letter-spacing:2px;
	padding:2% 2% 5%;
		align-content: center;
	}
	
	nav li
	{
    max-width: 200px;
	display:inline-block;
	list-style-type:none;
	text-decoration:none;
	color:black;
	}

	nav li a 
	{
    display: inline-block;
    max-width: 200px;
    color: #353535;
		align-items:stretch;
		justify-content: center;
	}
	
	.column
	{
		float:left;
		width: 31.95%;
	}
	
	.content
	{
		overflow-x: hidden;
		background-color: #f1f1f1;
		padding: 25px;
		text-align: center;
		align-content: center;
		margin:5% 10% 10%;
	}
	
	.row
	{
		align-items: stretch;
		align-content:space-between;
		display:inline-flex;
		content:flex;
		width:100%;
		margin:2%;
		box-sizing:content-box;
	}
	
	.gallery img
	{
	width:1720px;
	height:480px;
	}

	.gallery
	{
	align-content: center;
	margin:2% 5%;
	}

	.LKSnippet
	{
	background-color: #f1f1f1;
    padding: 4% 2%;
    text-align: center;
	margin:10% 5% 7%;
	}
	
	footer
	{
	align-content: center;
	position: absolute;
	width: 100%;
	background-color: #41728b;
	color: white;
	margin-top:5%;
	}
	
	footer p
	{
		align-content: center;
		font-size:1rem;
		width:100%;
	}
	
	.copyright
	{
		align-content: center;
		margin:2% 40%;
		width:100%;
	}
	
	.kontaktContainer
	{
		justify-content:space-between;
		position:relative;
		align-items: stretch;
		align-content:space-between;
		display:inline-flex;
		content:flex;
		width:80%;
		margin:2% 10%;
		box-sizing:content-box;
	}
	
	/*end of media screen 1921*/
}

@media screen and (max-width:768px)
{
	
	*
	{
	margin:0px;
	padding:0px;
	max-width: 768px;
	overflow-x: hidden;
	}
	
ul.nav-links.nav-active
	{
		max-height: 82vh;
    	max-width: 35%;
    	overflow: visible;
    	padding-top:5%;
		padding-bottom:5%;
		position:absolute;
	}

	nav
	{
		overflow-x:hidden;
	}

	.logo img
	{
		max-width:75%;
		height:auto;
	}

	.nav-links
	{
		position:absolute;
		right:0px;
		max-height:82vh;
		top:8vh;
		background-color:#F3F3F3F3;
		display:flex;
		flex-direction:column;
		align-items:center;
		transform:translateX(100%);
		transition:transform 0.5s ease-in;
		margin:0px;
		max-width:35%;
		overflow-x: hidden;
	}
	.nav-links li
	{
		opacity:0;
		margin:0px;
	}

	.burger
	{
		display:block;
		margin-right:6.6vh;
		overflow-y:hidden;
	}
	
	.gallery img
	{
		width:100%;
		height:auto;
	}

	.gallery
	{
		align-: space-between;
	}
	
	.column
	{
		width:100%;
		margin:2% 5%;
	}
	
	.content
	{
	overflow-x: hidden;
	background-color: #f1f1f1;
	text-align: center;
	align-content: center;
	margin:5% 10% 10%;
	}
	
	.row
	{
		width:95%;
	}
	
	.copyright
	{
		align-content: center;
		margin:5% 25%;
	}
	
	.copyright p
	{
		font-size: 0.75rem;
		max-width:100%;
		align-items:center;
	}
	/* end of media screen 768 */
}

.nav-active
{
	transform:translateX(0%);

}

.gallery img
{
	
}

@keyframes navLinkFade
{
	from
	{
		opacity:0;
		transform:translateX(50px);
	}

	to
	{
		opacity:1;
		transform:translateX(0px);
	}
}

.toggle .line1
{
	transform:rotate(-45deg) translate(-4px,6px);
}

.toggle .line2
{
	opacity:0;
}

.toggle .line3
{
	transform:rotate(45deg) translate(-4px,-6px);
}

h1 {
  font-size: 50px;
  word-break: break-all;
}

.content img
{
	height:100%;
	width:100%;
}

html
{
	  height: 100%;
	  box-sizing: border-box;

}
